/* General reset */
@font-face {
  font-family: poppins;
  src: url(fontstyle/yPoppins.ttf);
  font-weight: normal;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ebeffe;
}
html, body {
  overflow-x: hidden;
}

/* Container */
.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  min-height: 100vh;
}

/* Header */
.header {
  width: 100%;
  height: 105px;
  /* background-color: #6a4c9380; */
  background-color: #15151590;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.logo {
  width: 125px;
  height: 125px;
  object-fit: cover;
  position: relative;
  z-index: 10;
  top: 12px;

}

/*bg*/
.bg_container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background_img {
  position: absolute;
  left: 20px;
  transform: scale(1.1);
}
.img {
  max-width: 100%;
  height: auto;
}

/* Form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 35px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255,0.2);
  backdrop-filter: blur(10px) ;
  width: 355px;
  height: 400px;
  padding-top: 33px;
  /* margin-top: 550px;
  margin-left: 450px; */
  margin: 120px auto;
}

/* Input bar */
input {
  width: 255px;
  height: 43px;
  padding: 0 10px;
  border-bottom: 3px solid #ffffff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: transparent;
  border-radius: 1px;
  font-size: 14px;
  font-family: poppins;
}

input::placeholder {
  color: white;
}

/* Buttons */
button {
  width: 233px;
  height: 38px;
  background-color: #ffffff;
  font-family: poppins;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #cccbcd;
  color: #ffffff;
}

/* Secondary button */
button#goSignup, button#goLogin {
  width: auto;
  background: none;
  color: #ffffff;
  text-decoration: underline;
  font-size: 12px;
  margin-top: 5px;
}
